 body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

 
body::before {
  content: "";
  position: fixed; /* stays behind everything */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://i.pinimg.com/originals/80/11/ce/8011ced4a87399146bebe86f66c1c705.gif') no-repeat center center/cover;
  filter: blur(20px);
  z-index: -1; /* keep it behind your app */
}